<!DOCTYPE html>

<html>

<head>
  {% block title %}{% endblock %}
  {% load static %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="{%  static 'recportal/favicon.ico' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'recportal/css/materialize.min.css' %}"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-3">

  <div id="body-wrapper">

     <nav class="blue darken-4">
       <div class="nav-wrapper">
         <a href="{% url 'recportal:home' %}" class="brand-logo">RecPortal</a>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
           <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'recportal:assessments' %}">All Assessments</a></li>
          <li><a href="{% url 'recportal:candidates' %}">All Candidates</a></li>
      <li><a class="dropdown-trigger"  data-target="dropdown2">Senior Panel<i class="material-icons right">arrow_drop_down</i></a></li>

          <ul id='dropdown2' class='dropdown-content'>
            <li><a href="{% url 'recportal:myassessments' %}">My Assessments</a></li>
            <li><a href="{% url 'recportal:mycandidates' %}">My Candidates</a></li>
            <li>
          <a href="{% url 'recportal:recommendations' %}">Recommendations
            <span class="badge">{{request.user.senior.active_recommendations_count}}</span>
          </a>
        </li>
          </ul>
          <li><a href="{% url 'recportal:signout' %}">Signout</a></li>
           </ul>
      </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'recportal:assessments' %}">All Assessments</a></li>
      <li><a href="{% url 'recportal:candidates' %}">All Candidates</a></li>
      <li><a class="dropdown-trigger"  data-target="dropdown1">Senior Panel<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{% url 'recportal:signout' %}">Signout</a></li>

          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{% url 'recportal:myassessments' %}">My Assessments</a></li>
            <li><a href="{% url 'recportal:mycandidates' %}">My Candidates</a></li>
            <li>
          <a href="{% url 'recportal:recommendations' %}">Recommendations
            <span class="badge">{{request.user.senior.active_recommendations_count}}</span>
          </a>
        </li>
          </ul>
     </ul>

  </div>

  {% block content %}
  {% endblock %}

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'recportal/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'recportal/js/materialize.min.js' %}"></script>


  <script>
  $('document').ready(function() {
    $(".sidenav").sidenav()
    $(".dropdown-trigger").dropdown();
    $(".modal").modal({
      //dismissible: false,
    });
  })
  </script>
</body>

</html>
