{% extends 'recportal/base.html' %}

{% block title %}
	<style>
		#add-candidate-button{
			position: absolute;
			right: 15px;
			bottom: 15px;
		}
	</style>
{% endblock %}

{% block content %}

      <br><br>

      <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
			  id="add-candidate-button"
			  data-target="modal1">
			  <i class="material-icons">add</i>
		  </a>

    <form method="post" action="{% url 'recportal:candidates' %}" id="newcandidate">
      {% csrf_token %}
		<div id="modal1" class="modal modal-fixed-footer">
    		<div class="modal-content">
				<div class="row">
						<div class="input-field col s12">
          					<input id="first_name" type="text" name="first_name" class="validate" required>
          					<label for="first_name">First Name</label>
						</div>
						<div class="input-field col s12">
          					<input id="last_name" type="text" name="last_name" class="validate">
          					<label for="last_name">Last Name</label>
						</div>
						<div class="input-field col s12">
          					<input id="phone" type="text" name="ph" class="validate" required>
          					<label for="phone">Phone No.</label>
						</div>
						<div class="input-field col s12">
          					<input id="email" type="text" name="email" class="validate">
          					<label for="email">Email Address</label>
						</div>
						<div class="input-field col s12">
          					<input id="skill1" type="text" name="skill1" class="validate">
          					<label for="skill1">Skill 1</label>
						</div>
						<div class="input-field col s12">
          					<input id="skill2" type="text" name="skill2" class="validate">
          					<label for="skill2">Skill 2</label>
						</div>
						<div class="input-field col s12">
          					<input id="about" type="text" name="about" class="validate">
          					<label for="about">About</label>
						</div>
				</div>
    		</div>
    		<div class="modal-footer">
      				<input type="submit" value="Add" class="modal-close waves-effect waves-green btn-flat" />
      				<a href="{% url 'recportal:candidates' %}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    		</div>
  		</div>
      </form>



		 <table class="highlight centered responsive-table">
			<thead>
				<tr class="blue lighten-4">
					<th>Name</th>
					<th>Phone Number</th>
					<th>Email ID</th>
					<th>Skill 1</th>
					<th>Skill 2</th>
					<th>About</th>
				</tr>
			</thead>
      {% for candidate in data %}
      <tr {% if forloop.counter0|divisibleby:2 %} class="teal lighten-5" {% else %} class="teal lighten-4" {% endif %}>
        <td><a href="{% url 'recportal:profile' candidate.first_name candidate.last_name %}"> {{candidate.first_name}} {{candidate.last_name}} </a> </td>
        <td> {{candidate.ph}}</td>
        <td> {% if candidate.email %} {{candidate.email}} {% else %} - {% endif %}</td>
        <td> {% if candidate.skill1 %} {{ candidate.skill1 }} {% else %} - {% endif %}</td>
        <td> {% if candidate.skill2 %} {{ candidate.skill2 }} {% else %} - {% endif %}</td>
        <td> {% if candidate.about %} {{candidate.about}} {% else %} - {% endif %}</td>
      </tr>
      {% endfor %}
		 </table>

		</div>

    <br><br>

    {% if messages %}
          {% for message in messages %}{% if forloop.counter == 1 %}
            <div class="center-align">
              {% if message.tags == 'error' %}
                <p class="red-text"><i> {{ message }} </i></p>
              {% elif message.tags == 'info' %}
                <p class="green-text"><i> {{ message }} </i></p>
              {% endif %}
            </div>
            {% endif %}{% endfor %}
    {% endif %}

    <br>

{% endblock %}

  </html>
