{% extends 'recportal/base.html' %}

{% block title %}
  <title> Recruitments Portal -- Home Page </title>
{% endblock %}

{% block content %}
  <h2> Welcome {{request.user.get_full_name.title}}. </h2>
  <br>
  <p> You can change your password <a href="{% url 'recportal:updatepassword' %}"> here </a> at anytime if you'd like.</p>
{% endblock %}
