{% extends 'recportal/base.html' %}

{% block title %}
  <title> Recruitments Portal -- My Candidates </title>
{% endblock %}

{% block content %}


    <br>
    <div class="container">
      <table class="responsive-table">

        <tr class="blue lighten-4">
          <td><b> Name </b></td>
          <td><b> Phone Number </b></td>
          <td><b> Email ID </b></td>
          <td><b> Skill 1 </b></td>
          <td><b> Skill 2 </b></td>
          <td><b> About </b></td>
        </tr>

        {% for candidate in data %}
        <tr {% if forloop.counter0|divisibleby:2 %} class="teal lighten-5" {% else %} class="teal lighten-4" {% endif %}>
          <td><a href="{% url 'recportal:profile' candidate.first_name candidate.last_name %}"> {{candidate.first_name}} {{candidate.last_name}} </a> </td>
          <td> {{candidate.ph}}</td>
          <td> {% if candidate.email %} {{candidate.email}} {% else %} - {% endif %}</td>
          <td> {% if candidate.skill1 %} {{ candidate.skill1 }} {% else %} - {% endif %}</td>
          <td> {% if candidate.skill2 %} {{ candidate.skill2 }} {% else %} - {% endif %}</td>
          <td> {% if candidate.about %} {{candidate.about}} {% else %} - {% endif %}</td>
        </tr>
        {% endfor %}

      <table>
    </div>

{% endblock %}
