<!DOCTYPE html>
  <html>
    <head>
      {% load static %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static 'recportal/css/materialize.min.css' %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'recportal/css/common.css' %}"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	  <style>
		#body-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
		h1 {
			text-align: center;
			margin: 0px;
		}
		.form-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: space-around;
			margin-top: 50px;
			width: 100%;
		}

		.input-wrapper {
			width: 80%;
			display: flex;
			justify-content: center;
		}

		.input-field {
			margin: 0 !important;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		input {
			margin: 0 auto;
		}

	  </style>

    </head>

    <body>
		<div id="body-wrapper" class="container">
			<div id="header">
				<h1>Recportal</h1>
        <br>
        {% if messages %}
          {% for message in messages %}{% if forloop.counter == 1 %}
            <div class="center-align">
              {% if message.tags == 'error' %}
                <p class="red-text"><i> {{ message }} </i></p>
              {% else %}
                <p class="green-text"><i> {{ message }} </i></p>
              {% endif %}
            </div>
            <br>
          {% endif %}{% endfor %}
        {% else %}
          <br>
        {% endif %}
			</div>
			<div class="form-wrapper">
				<form class="col s8" action="{% url 'recportal:signin' %}" method="POST">
          {% csrf_token %}
					<div class="row input-wrapper">
						<div class="input-field col s10">
						  <input id="username" type="text" class="validate" name="username" required />
						  <label for="username">Username: </label>
						</div>
					</div>
					<div class="row input-wrapper">
        				<div class="input-field col s10">
          					<input id="password" type="password" class="validate" name="password" required />
          					<label for="password">Password: </label>
        				</div>
      				</div>
          <div class="row input-wrapper">
            <input type="submit" value="sign in" class="btn">
          </div>
				</form>
			</div>
		</div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'recportal/js/materialize.min.js' %}"></script>
    </body>
  </html>
