{% extends 'recportal/base.html' %}

{% block title %}
  <title> Recruitments Portal -- Update Password </title>
{% endblock %}

{% block content %}
<div>

  {% if messages %}
    {% for message in messages %}
      <div class="center-align">
      {% if forloop.counter == 1 %}
        {% if message.tags == 'warning' %}
          <p class="red-text"><i> {{ message }} </i></p>
        {% elif message.tags == 'info' %}
          <p class="green-text"><i> {{ message }} </i></p>
        {% endif %}
      {% endif %}
      </div>
    {% endfor %}
  {% endif %}

  <br>

  <form method="post" action="{% url 'recportal:updatepassword' %}">
    {% csrf_token %}

    <table>

      <tr>
        <td>New Password:</td>
        <td><input type="password" name="new_password" required /></td>
      </tr>

      <tr>
        <td>Repeat New Password:</td>
        <td><input type="password" name="new_password_check" required /></td>
      </tr>

      <tr class="center-align">
        <td colspan=2><input type="submit" value="update" /></td>
      </tr>

    </table>

  </form>
</div>
{% endblock %}
